body {
    width: 100%;
    height: 100%;
    font-family: "Roboto";
    font-weight: 100;
    color: #074575;
    background-color: #fff;
}
html {
    width: 100%;
    height: 100%;
}
h1, h2, h3, h4, h5, h6 {
    margin: 0 0 35px;
    font-family: "Roboto";
    font-weight: 100;
    letter-spacing: 1px;
}
p {
    margin: 0 0 25px;
    font-size: 18px;
    line-height: 1.5;
}
a {
    color: #fff;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}
a:hover, a:focus {
    text-decoration: none;
    color: #176e61;
}
.light {
    font-weight: 400;
}
.row {
    width: 100%;
    max-width: 1100px;
    margin: 0 auto;
}
.navbar {
    positon: fixed;
    margin-bottom: 0;
    border-bottom: 1px solid rgba(255, 255, 255, .3);
    font-family: "Roboto";
    font-weight: 100;
    background-color: #074575;
}
.navbar-brand {
    font-weight: 700;
    height: auto;
    padding: 0;
    -webkit-transform: translateY(-30%);
    -ms-transform: translateY(-30%);
    transform: translateY(-30%);
}
.navbar-brand:focus {
    outline: 0;
}
.navbar-custom a {
    color: #fff;
}
.navbar-custom .nav li a {
    font-weight: normal;
    -webkit-transition: background .3s ease-in-out;
    -moz-transition: background .3s ease-in-out;
    transition: background .3s ease-in-out;
}
.navbar-custom .nav li a:hover, .navbar-custom .nav li a:focus, .navbar-custom .nav li.active {
    outline: 0;
    background-color: rgba(255, 255, 255, .3);
}
.navbar-toggle {
    padding: 4px 6px;
    font-size: 16px;
    color: #fff;
}
.navbar-toggle:focus, .navbar-toggle:active {
    outline: 0;
}
.footer-list {
    list-style: none;
    display: block;
    margin: 25px 0;
}
.footer-list li {
    font-size: 12px;
    font-weight: normal;
    display: inline-block;
    margin-right: 150px;
}
.footer-list li:last-child {
    margin: 0;
}
.footer-list a {
    color: #fff;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}
.footer-list a:hover, a:focus {
    text-decoration: none;
    color: #176e61;
}
@media(min-width: 767px) {
    p {
        margin: 0 0 50px;
        font-size: 24px;
        line-height: 1.6;
   }
   .navbar {
       padding-top: 150px;
       border-bottom: 0;
       letter-spacing: 1px;
       background: 0 0;
       -webkit-transition: background .25s ease-in-out, 5s, padding .5s ease-in-out;
       -moz-transition: background .25s ease-in-out .5s, padding .5s ease-in-out;
       transition: background .25s ease-in-out .5s, padding .5s ease-in-out;
  }
  .stone {
      content: url("../img/stone_white.png");
      width: 150px;
      -webkit-transition: width .5s ease-in-out;
      -moz-transition: width .5s ease-in-out;
      transition: width .5s ease-in-out;
 }
 .bsl-words {
     content: url("../img/bsl_white.png");
     display: inherit;
     width: 450px;
     padding-left: 20px;
     -webkit-transition: width .5s ease-in-out;
     -moz-transition: width .5s ease-in-out;
     transition: width .5s ease-in-out;
}
.top-nav-collapse .stone {
    width: 40px;
    margin: 20px 0px -10px;
    -webkit-transition: width .5s ease-in-out;
    -moz-transition: width .5s ease-in-out;
    transition: width .5s ease-in-out;
}
.top-nav-collapse .bsl-words {
    width: 120px;
    padding: 17px 5px 0;
    -webkit-transition: width .5s ease-in-out;
    -moz-transition: width .5s ease-in-out;
    transition: width .5s ease-in-out;
}
.top-nav-collapse {
    padding: 0;
    background-color: #074575;
}
.intro {
    height: 100%;
    padding: 0;
}
.brand-heading {
    color: #fff;
    font-size: 48px;
    line-height: 1.5;
    float: left;
}
.intro-text {
    font-size: 25px;
}
.content-section {
    padding-top: 70px;
}
.download-section {
    padding: 100px 0;
}
#map {
    width: 100%;
    height: 70vh;
    min-height: 400px;
    position: relative;
}
}
video#bgvid {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    transform: translateX(-50%) translateY(-50%);
    background: url(../video/preview.png) no-repeat;
    background-size: cover;
}
.intro {
    display: table;
    width: 100%;
    height: auto;
    padding: 100px 0;
    position: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}
.intro-body {
    margin: 0 auto;
    vertical-align: middle;
}
#home-intro-container {
    margin-top: 350px
}
.section-title {
    text-align: center;
    font-size: 48px;
    color: #074575;
}
.text-left {
    text-align: left;
}
.text-white {
    color: #fff;
}
.section-contents {
    font-size: 24px;
}
#what-we-do {
    background: url(../img/tank.jpg) no-repeat center;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}
#how-we-do-it {
    /*background: url(../img/graph_paper.jpg) center;*/

background: #fff;
    color: #074575;
}
#who-is-bsl {
    height: 720px;
    background: #777 url(../img/happy_dan.jpg) no-repeat center;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    width: 100%;
}
#difference-intro {
    height: 800px;
    color: #074575;
    background: url(../img/whiteboard.jpg) no-repeat center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}
#intro-container {
    margin-top: 60px;
}
#drod {
    background: url(../img/drod.jpg) no-repeat center;
}
#laid-back-text {
    margin-bottom: 10px;
    width: 80%;
    color: #fff;
}
#careers-container {
    height: 100%;
    background: url(../img/office1_opac.jpg) no-repeat center;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}
#grads-section .blurb, #pros-section .blurb {
    background: rgba(184, 214, 236, 0.8);
}
#the-team {
    height: auto;
    background: url(../img/metro_opac.jpg) no-repeat center;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}
/*#the-team{
    height: auto;
    background: #73acd9;
}*/
#the-team img{
    opacity: 0.7;
}
#the-team img:hover,
#the-team img:focus{
    opacity: 1;
}
.active-bio {
    opacity: 1 !important;
}
#the-team h1 {
    margin-bottom: 100px;
}
#the-team h2, h3 {
    margin: 10px 0 0;
}
#the-team p {
    width: 100%;
    text-align: left;
    font-size: 18px;
    background: rgba(200, 200, 200, .7);
    padding: 10px;
}
.headshots{
    padding-bottom: 50px;
}
#contact {
    height: auto;
    background: #73acd9;
}
#contact h1 {
    font-weight: 300;
}
#contact p {
    color: #fff;
}
#spacers {
    width: 100%;
    border-left: 1px solid #CCC;
    border-right: 1px solid #CCC;
    margin: 0 -20px;
    height: 90%;
    position: absolute;
    top: -5%;
}
.brand-heading {
    font-size: 36px;
    line-height: 1.5;
    float: left;
}
.intro-text {
    font-size: 18px;
}
.column-3 {
    float: left;
    width: 33.3333%;
    position: relative;
    min-height: 1px;
    padding: 0 20px;
}
.column-3 img {
    height: 30%;
}
.btn-circle {
    width: 70px;
    height: 70px;
    margin-top: 15px;
    padding: 7px 16px;
    border: 2px solid #fff;
    border-radius: 35px;
    font-size: 40px;
    color: #fff;
    background: 0 0;
    -webkit-transition: background .3s ease-in-out;
    -moz-transition: background .3s ease-in-out;
    transition: background .3s ease-in-out;
}
.btn-circle:hover, .btn-circle:focus {
    outline: 0;
    color: #fff;
    background: rgba(255, 255, 255, .1);
}
.page-scroll .btn-circle i.animated {
    -webkit-transition-property: -webkit-transform;
    -webkit-transition-duration: 1s;
    -moz-transition-property: -moz-transform;
    -moz-transition-duration: 1s;
}
.page-scroll .btn-circle:hover i.animated {
    -webkit-animation-name: pulse;
    -moz-animation-name: pulse;
    -webkit-animation-duration: 1.5s;
    -moz-animation-duration: 1.5s;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-timing-function: linear;
}
@-webkit-keyframes pulse {
    0 {
        -webkit-transform: scale(1);
        transform: scale(1);
   }
   50% {
       -webkit-transform: scale(1.2);
       transform: scale(1.2);
  }
  100% {
      -webkit-transform: scale(1);
      transform: scale(1);
 }
}
@-moz-keyframes pulse {
    0 {
        -moz-transform: scale(1);
        transform: scale(1);
   }
   50% {
       -moz-transform: scale(1.2);
       transform: scale(1.2);
  }
  100% {
      -moz-transform: scale(1);
      transform: scale(1);
 }
}
.top-space {
    top: 800px;
}
.content-section {
    height: 760px;
    width: 100%;
    text-align: center;
    position: relative;
    background: #fff;
    padding-top: 100px;
}
.spacer-img {
    height: 70%;
    width: 100%;
    position: relative;
}
.text-banner {
    height: auto;
    width: 100%;
    background: rgb(115, 172, 217);
    color: #fff;
    text-align: center;
    background: rgb(115, 172, 217);
    position: relative;
    padding: 50px 0 20px;
}
.blurb {
    height: auto;
    width: 100%;
    background: #fff;
    color: #074575;
    text-align: right;
    position: relative;
    padding: 100px 0;
}
div .blurb {
    position: inherit;
}
.blurb p {
    font-size: 20px;
    margin: 0;
}
.blurb h1 {
    font-size: 48px;
}
.blurb img {
    width: 220px;
}
.careers-selection {
    width: 100%;
    max-width: 1100px;
    position: absolute;
    bottom: 0;
}
.careers-selection div {
    width: 50%;
    float: left;
}
.careers-selection div img {
    opacity: 0.5;
    width: 400px;
    height: 250px;
}
.careers-selection div img:hover {
    opacity: 1;
}
.cycle-slideshow img {
    width: 100%;
}
#footer {
    height: 70px;
    width: 100%;
    text-align: center;
    position: relative;
    background: #074575;
}
.btn {
    text-transform: uppercase;
    font-family: "Roboto";
    font-weight: 100;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}
.btn-default {
    border: 1px solid #28c3ab;
    color: #28c3ab;
    background-color: transparent;
}
.btn-default:hover, .btn-default:focus {
    border: 1px solid #28c3ab;
    outline: 0;
    color: #000;
    background-color: #28c3ab;
}
.btn-huge {
    padding: 25px;
    font-size: 26px;
}
.banner-social-buttons {
    margin-top: 0;
}
@media(max-width: 1199px) {
    ul.banner-social-buttons {
        margin-top: 15px;
   }
}
@media(max-width: 767px) {
    ul.banner-social-buttons>li {
        display: block;
        margin-bottom: 20px;
        padding: 0;
   }
   ul.banner-social-buttons>li:last-child {
       margin-bottom: 0;
  }
}
: : -moz-selection {
    text-shadow: none;
    background: #fcfcfc;
    background: rgba(255, 255, 255, .2);
}
: : selection {
    text-shadow: none;
    background: #fcfcfc;
    background: rgba(255, 255, 255, .2);
}
img: : selection {
    background: 0 0;
}
img: : -moz-selection {
    background: 0 0;
}
body {
    webkit-tap-highlight-color: rgba(255, 255, 255, .2);
}