body {
    width: 100%;
    height: 100%;
    font-family: "Roboto";
    font-weight: 100;
    position: relative;
    color: #074575;
    background-color: #fff;
}
html {
    width: 100%;
    height: 100%;
}
h1, h2, h3, h4, h5, h6 {
    margin: 0 0 35px;
    font-family: "Roboto";
    font-weight: 100;
    letter-spacing: 1px;
}
p {
    margin: 0 0 25px;
    font-size: 18px;
    line-height: 1.5;
}
a {
    color: #fff;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}
a:hover, a:focus {
    text-decoration: none;
    color: #176e61;
}
.row {
    width: 100%;
    max-width: 1100px;
    margin: 0 auto;
}
.row:before, .row:after {
    content: " ";
    display: table
}
.row .column,
.row .columns {
    position: relative;
    padding-left: 18px;
    padding-right: 18px;
    width: 100%;
    float: left
}
.row .row {
    width: auto;
    margin: 0 -18px;
    max-width: none;
    *zoom: 1
}
@media (min-width: 768px) {
    .row .large-1 {
        position: relative;
        width: 8.33333%
    }
    .row .large-2 {
        position: relative;
        width: 16.66667%
    }
    .row .large-3 {
        position: relative;
        width: 25%
    }
    .row .large-4 {
        position: relative;
        width: 33.33333%
    }
    .row .large-5 {
        position: relative;
        width: 41.66667%
    }
    .row .large-6 {
        position: relative;
        width: 50%
    }
    .row .large-7 {
        position: relative;
        width: 58.33333%
    }
    .row .large-8 {
        position: relative;
        width: 66.66667%
    }
    .row .large-9 {
        position: relative;
        width: 75%
    }
    .row .large-10 {
        position: relative;
        width: 83.33333%
    }
    .row .large-11 {
        position: relative;
        width: 91.66667%
    }
    .row .large-12 {
        position: relative;
        width: 100%
    }
    .row .large-offset-1 {
        position: relative;
        margin-left: 8.33333%
    }
    .row .large-offset-2 {
        position: relative;
        margin-left: 16.66667%
    }
    .row .large-offset-3 {
        position: relative;
        margin-left: 25%
    }
    .row .large-offset-4 {
        position: relative;
        margin-left: 33.33333%
    }
    .row .large-offset-5 {
        position: relative;
        margin-left: 41.66667%
    }
    .row .large-offset-6 {
        position: relative;
        margin-left: 50%
    }
    .row .large-offset-7 {
        position: relative;
        margin-left: 58.33333%
    }
    .row .large-offset-8 {
        position: relative;
        margin-left: 66.66667%
    }
    .row .large-offset-9 {
        position: relative;
        margin-left: 75%
    }
    .row .large-offset-10 {
        position: relative;
        margin-left: 83.33333%
    }
    .column.large-centered, .columns.large-centered {
        position: relative;
        margin-left: auto;
        margin-right: auto;
        float: none !important
    }
}
#content {
    position: relative;
    top: 724px;
    left: 0;
    height: 100%;
    background: #fff;
    left: 0;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
#content.pushLeft{
    left: -240px;
}
#content.no-collapse {
    top: 147px
}
nav#slide-menu {
    right: -240px;
    width: 240px;
    height: 100%;
    top: 74px;
    z-index: 1000;
    text-align: right;
    background: #ccc;
    position: fixed;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
nav#slide-menu.open {
    right: 0;
}
nav#slide-menu ul {
    display: block;
    margin: 25px;
    padding: 0;
    list-style: none;
    -moz-transition: all 300ms;
    -webkit-transition: all 300ms;
    transition: all 300ms;
}
nav#slide-menu li {
    font-size: 28px;
    font-weight: 300;
    padding: 6px 0;
    cursor: pointer;
}
nav#slide-menu li a {
    color: #074575;
}
nav#slide-menu li:last-child { 
    margin-top: 14px; 
    padding-top: 14px; 
    border-top: 1px solid #777; 
}
#index section#intro {
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 30;
    top: 0;
    -webkit-animation: intro 3s forwards;
    -moz-animation: intro 3s forwards;
    -o-animation: intro 3s forwards;
    animation: intro 3s forwards
}
header#nav {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 40;
    background: transparent;
    -webkit-transition: background .2s linear;
    -moz-transition: background .2s linear;
    -o-transition: background .2s linear;
    transition: background .2s linear
}
header#nav nav#navigation {
    padding: 90px 0 0 0;
    margin-bottom: 0;
    overflow: hidden;
    z-index: 20;
    width: 100%;
    -webkit-animation: navin 6s forwards linear;
    -moz-animation: navin 6s forwards linear;
    -o-animation: navin 6s forwards linear;
    animation: navin 6s forwards linear;
    -webkit-transition: padding .2s linear;
    -moz-transition: padding .2s linear;
    -o-transition: padding .2s linear;
    transition: padding .2s linear
}
@media (max-width: 1149px) {
    header#nav nav#navigation {
        padding-left: 25px;
        padding-right: 25px
   }
}
header#nav nav#navigation #logo {
    float: left;
    width: 300px;
    height: 75px;
    display: block;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out
}
header#nav nav#navigation #logo:hover {
    -webkit-opacity: 0.7;
    -moz-opacity: 0.7;
    opacity: 0.7
}
header#nav nav#navigation #logo img {
    width: 100%;
    height: 100%
}
header#nav nav#navigation ul {
    list-style: none;
    margin: 35px 0 0 0;
    padding: 0;
    float: right;
    overflow: hidden
}
header#nav nav#navigation ul li {
    display: inline-block;
    padding-left: 70px;
    font-size: 14px;
    line-height: 1.5;
    font-weight: bold
}
header#nav nav#navigation ul a {
    display: block;
    color: #fff;
    font-weight: 600;
    padding-bottom: 12px;
    text-shadow: none;
    text-transform: uppercase;
    -webkit-transition: color 0.3s;
    -moz-transition: color 0.3s;
    transition: color .3s;
}

header#nav nav#navigation ul a::after {
    display: inherit;
    width: 100%;
    height: 1px;
    background: #fff;
    content: '';
    opacity: 0;
    -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
    -moz-transition: opacity 0.3s, -moz-transform 0.3s;
    transition: opacity 0.3s, transform 0.3s;
    -webkit-transform: translateY(-10px);
    -moz-transform: translateY(-10px);
    transform: translateY(-10px);
}
header#nav nav#navigation ul a::after {
    bottom: 0;
    -webkit-transform: translateY(10px);
    -moz-transform: translateY(10px);
    transform: translateY(10px);
}
header#nav nav#navigation ul a:hover,
header#nav nav#navigation ul a:focus {
    font-weight: 400;
    color: #73acd9;
}
header#nav nav#navigation ul a:hover::after,
header#nav nav#navigation ul a:focus::after {
    opacity: 1;
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    transform: translateY(0px);
}
header#nav.stuck {
    background: #074575;
    -webkit-transition: background .2s linear;
    -moz-transition: background .2s linear;
    -o-transition: background .2s linear;
    transition: background .2s linear
}
header#nav.stuck nav#navigation {
    padding: 13px 0;
    -webkit-transition: padding .2s linear;
    -moz-transition: padding .2s linear;
    -o-transition: padding .2s linear;
    transition: padding .2s linear
}
header#nav.stuck nav#navigation #logo {
    height: 45px;
    width: 180px;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out
}
header#nav.stuck nav#navigation ul {
    margin-top: 15px
}
header#nav.stuck nav#navigation ul li.show-for-small{
    color: #fff;
    font-size: 32px;
}
@media (max-width: 1149px) {
    header#nav.stuck nav#navigation {
        padding: 13px
   }
   header#nav nav#navigation ul li {
       padding-left: 40px
  }
}
@media (max-width: 767px) {
    header#nav.stuck nav#navigation {
        padding: 13px
   }
    header#nav nav#navigation #logo,
    header#nav nav#navigation ul li {
        display: none
   }
   header#nav.stuck nav#navigation #logo {
       display: block;
  }
  header#nav.stuck nav#navigation ul {
      display: block;
      margin-top: 0
 }
 header#nav.stuck nav#navigation ul li {
     display: none;
}
}
header#header {
    background: transparent;
    height: 820px;
    position: fixed;
    width: 100%;
    top: 0;
    overflow: hidden;
    z-index: 28
}
header#header h1#brand {
    font-family: Lato;
    font-size: 48px;
    font-weight: 300;
    letter-spacing: -2px;
    line-height: 1.5;
    text-transform: lowercase;
    color: #fff;
    z-index: 1001;
    width: 420px;
    margin: 335px 0 30px 70px
}
@media (max-width: 1149px) {
    header#header h1#brand{
        margin-left: 25px
   }
}
@media (max-width: 767px) {
    header#header {
        background-position: center center
   }
   header#header h1#brand {
       margin-top: 150px;
       font-size: 28px
  }
}
#index #video-container {
    width: 100%;
    height: 820px;
    position: fixed;
    top: 0;
    background: url(../video/preview.png) no-repeat;
    background-size: cover
}
#index #video-container video{
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    top: 0
}
@media (max-width: 767px) {
    #index #video-container {
        height: 350px
   }
}
@-webkit-keyframes navin {
    0% {
        opacity: 0
    }
    30% {
        opacity: 0
    }
    35% {
        opacity: 1
    }
    100% {
        opacity: 1
    }
}
@-moz-keyframes navin {
    0% {
        opacity: 0
    }
    30% {
        opacity: 0
    }
    35% {
        opacity: 1
    }
    100% {
        opacity: 1
    }
}
@-ms-keyframes navin {
    0% {
        opacity: 0
    }
    30% {
        opacity: 0
    }
    35% {
        opacity: 1
    }
    100% {
        opacity: 1
    }
}
@keyframes navin {
    0% {
        opacity: 0
    }
    30% {
        opacity: 0
    }
    35% {
        opacity: 1
    }
    100% {
        opacity: 1
    }
}
footer#footer {
    background: #074575;
    color: #fff;
    text-align: center
}
footer#footer ul {
    list-style: none;
    padding: 0;
    margin: 30px 0
}
footer#footer ul li {
    font-size: 14px;
    font-weight: 300;
    display: inline-block;
    margin-right: 100px
}
footer#footer ul li:last-child {
    margin: 0
}
footer#footer ul li strong {
    font-weight: 500
}
footer#footer ul li a {
    color: #fff;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}
footer#footer ul li a:hover, a:focus {
    text-decoration: none;
    color: #176e61;
}
@media (max-width: 1149px) {
    footer#footer ul {
        margin: 25px 0
   }
}
@media (max-width: 767px) {
    footer#footer ul {
        margin: 20px 0
   }
   footer#footer ul li {
       display: block;
       margin: 5px 0
  }
}
footer#footer #start {
    font: 300 20px/1.6"PMNCaeciliaW01-45Light", Georgia, serif;
    padding: 0;
    text-align: center
}
footer#footer #start a {
    color: #fff;
    display: block;
    padding: 60px 0;
    background: #ea3a3a
}
footer#footer #start .icon-mail {
    font-size: 16px;
    margin-right: 6px
}
@media (max-width: 1149px) {
    footer#footer #start a {
        -webkit-transition: background .2s linear;
        -moz-transition: background .2s linear;
        -o-transition: background .2s linear;
        transition: background .2s linear
   }
   footer#footer #start a:hover {
       background: #e82323;
       -webkit-transition: background .2s linear;
       -moz-transition: background .2s linear;
       -o-transition: background .2s linear;
       transition: background .2s linear
  }
}
@media (max-width: 767px) {
    footer#footer #start a {
        padding: 30px 0
   }
}
@media (max-width: 1149px) {
    footer#footer #copyright {
        padding-left: 25px;
        padding-right: 50px
   }
}
@media (max-width: 767px) {
    footer#footer #copyright {
        background: #fe4444;
        text-align: center;
        padding-right: 25px
   }
}
#index #content {
    top: 820px;
    z-index: 30;
}
@media (max-width: 767px) {
    #index #content {
        top: 350px
   }
}
#index section#what {
    background: #bbb url(../img/tank.jpg) no-repeat center;
    background-attachment: fixed;
    height: 800px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding: 90px 0
}
#index section#what h2 {
    font-size: 48px;
    font-weight: 300;
    text-align: center;
    margin-bottom: 60px
}
#index section#what p {
    font-size: 28px;
    color: #fff;
    font-weight: 300;
    text-align: center;
    margin-bottom: 60px
}
@media (max-width: 767px) {
    #index section#what {
        padding: 45px 0;
        background-image: none;
        height: auto
   }
   #index section#what h2 {
       font-size: 36px;
       margin-bottom: 40px;
  }
  #index section#what p {
       font-size: 24px;
       margin-bottom: 0
  }
}
#index section#how {
    background: #fff;
    padding: 90px 0
}
#index section#how h2 {
    font-size: 48px;
    font-weight: 300;
    text-align: center;
    margin-bottom: 70px
}
#index section#how h3 {
    font-size: 42px;
    font-weight: 300;
    text-align: center;
    margin-bottom: 30px
}
#index section#how p {
    font-size: 22px;
    text-align: center;
    margin: 0
}
#index section#how header {
    margin-bottom: 30px
}
#index section#how #icons {
    text-align: center
}
#index section#how #icons img {
    width: 127px;
    height: 89px;
}
#index section#how #icons hr {
    border: none;
    border-bottom: 3px solid #73acd9;
    color: #ccc;
    width: 17%;
    display: inline-block;
    clear: none;
    margin: 0 30px;
}
#index section#learn {
    background: #C3D1DC;
    padding: 80px 0;
    position: relative;
    display: block;
    text-align: center;
    z-index: 1;
}
#index section#learn a {
    display: block;
    color: #074575;
    font-size: 42px;
    font-weight: 300;
    -webkit-transition: color 0.3s;
    -moz-transition: color 0.3s;
    transition: color 0.3s;
}

#index section#learn a::before,
#index section#learn a::after {
    position: absolute;
    width: 40%;
    left: 0;
    right: 0;
    top: 50%;
    height: 2px;
    margin: 0 auto;
    background: #074575;
    content: '';
    display: block;
    text-align: center;
    z-index: -1;
    -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
    -moz-transition: -moz-transform 0.3s, opacity 0.3s;
    transition: transform 0.3s, opacity 0.3s;
    pointer-events: none;
}

#index section#learn a::before {
    -webkit-transform: translateY(-80px);
    -moz-transform: translateY(-80px);
    transform: translateY(-80px);
}

#index section#learn a::after {
    -webkit-transform: translateY(80px);
    -moz-transform: translateY(80px);
    transform: translateY(80px);
}

#index section#learn a:hover,
#index section#learn a:focus {
    color: #fff;
}

#index section#learn a:hover::before,
#index section#learn a:hover::after,
#index section#learn a:focus::before,
#index section#learn a:focus::after {
    height: 1px;
    opacity: 0.7;
}

#index section#learn a:hover::before,
#index section#learn a:focus::before {
    -webkit-transform: rotate(30deg);
    -moz-transform: rotate(30deg);
    transform: rotate(30deg);
}

#index section#learn a:hover::after,
#index section#learn a:focus::after {
    -webkit-transform: rotate(-30deg);
    -moz-transform: rotate(-30deg);
    transform: rotate(-30deg);
}
@media (max-width: 1149px) {
    #index section#learn {
        padding: 70px 0
    }
    #index section#how h2{
        font-size: 48px;
    }
    #index section#learn h2,
    #index section#learn a {
       font-size: 32px
    }
    #index section#how h3 {
      font-size: 28px;
    }
    #index section#how p {
        font-size: 20px
    }
}
@media (max-width: 768px) {
    #index section#learn {
        padding: 50px 0
    }
    #index section#how {
        padding: 60px 15px;
    }
    #index section#how h2{
        font-size: 36px;
        margin-bottom: 20px
    }
    #index section#learn h2 {
        font-size: 32px
    }
    #index section#how h3 {
        font-size: 28px;
        margin: 30px 0px 10px
    }
    #index section#how p {
        font-size: 20px
    }
}
#index section#who {
    background: #999 url(../img/happy_dan.jpg) no-repeat center;
    background-attachment: fixed;
    height: 720px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding: 90px 0
}
#index section#who h2 {
    font-size: 48px;
    font-weight: 300;
    text-align: left;
    margin-bottom: 60px
}
#index section#who p {
    font-size: 28px;
    color: #fff;
    font-weight: 300;
    text-align: left;
    position: relative;
    margin-bottom: 20px
}
#index section#who a:before {
    font-family: 'FontAwesome';
    content: "\f178";
    left: 70%;
    opacity: 1;
    top: 0;
    position: absolute;
    height: 100%;
    font-size: 125%;
    color: #fff;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}
#index section#who a:hover:before {
    left: 80%;
    opacity: 1;
}
@media (max-width: 767px) {
    #index section#who {
        padding: 45px 0;
        background-image: none;
        height: auto
   }
    #index section#who h2 {
        text-align: center;
       font-size: 36px;
       margin-bottom: 40px
    }
    #index section#who p {
        text-align: center;
       font-size: 24px
  }
}
.light {
    font-weight: 400;
}
.show-for-small {
    display: inherit !important
}
.hide-for-small {
    display: none !important
}
@media only screen and (min-width: 768px) {
   .show-for-small {
       display: none !important
  }
  .hide-for-small {
      display: inherit !important
 }
}
#difference #content {
    top: 0
}
#difference section#what {
    height: 800px;
    color: #074575;
    background: url(../img/whiteboard.jpg) no-repeat center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding: 120px 0
}
#difference section#what h2 {
    font-size: 48px;
    font-weight: 300;
    text-align: center;
    margin-bottom: 10px
}
#difference section#what hr {
    width: 85px;
    margin: 30px auto 45px auto;
    border-color: #73acd9;
}
#difference section#what p {
    font-size: 26px;
    font-weight: 00;
    text-align: center;
    margin-bottom: 60px
}
#difference section#img-1 {
    background: url(../img/drod.jpg) no-repeat center;
    height: 70%;
    width: 100%;
    position: relative;
    background-attachment: fixed; 
    background-size: cover;
}
#difference section#img-2 {
    background: url(../img/block.jpg) no-repeat center;
    height: 70%;
    width: 100%;
    position: relative;
    background-attachment: fixed; 
    background-size: cover;
}
#difference section#img-3 {
    background: url(../img/drod.jpg) no-repeat center;
    height: 70%;
    width: 100%;
    position: relative;
    background-attachment: fixed; 
    background-size: cover;
}
#difference section.blurb {
    height: auto;
    width: 100%;
    text-align: right;
    position: relative;
    padding: 100px 0;
}
#difference section.blurb p {
    font-size: 20px;
    margin: 0;
}
#difference section.blurb h2 {
    font-size: 48px;
    font-weight: 300
}
#difference section.blurb img {
    width: 100%;
    margin: 60px 20px; 
    /* find a way to horizontally align this */
}
@media (max-width: 1149px) {
    #difference section#what {
        padding: 180px 0;
   }
   #difference section#what h2 {
       font-size: 38px;
       margin-bottom: 0px;
  }
  #difference section.blurb h2 {
        font-size: 38px
    }
  #difference section#what hr {
    margin: 20px auto 35px auto;
}
  #difference section#what p {
       font-size: 22px;
       margin-bottom: 0
  }
}
@media (max-width: 767px) {
    #difference section#what {
        padding: 45px 0;
        background-image: none;
        background-color: #074575;
        height: auto
   }
   #difference section#what h2 {
        color: #fff;
       font-size: 36px;
       margin-bottom: 0px;
  }
  #difference section.blurb h2 {
    font-size: 36px
}
    #difference section#what hr {
    margin: 20px auto 35px auto;
}
  #difference section#what p {
        color: #fff;
       font-size: 20px;
       margin-bottom: 0
  }
}
#people #content {
    top: 0
}
#people section#our-people {
    height: auto;
    color: #074575;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding: 120px 0
}
#people section#our-people h2 {
    font-size: 48px;
    font-weight: 300;
    text-align: center;
    margin-bottom: 10px
}
#people section#our-people hr {
    width: 85px;
    margin: 30px auto 45px auto;
    border-color: #73acd9;
}
#people section#our-people p {
    font-size: 26px;
    font-weight: 200;
    text-align: center;
    margin-bottom: 60px
}
#people section#our-people .cycle-slideshow{
    position: relative;
    margin-bottom: 30px;
    z-index: 30;
}
#people section#our-people .cycle-slideshow img {
    width: 100%;
}
#people section#our-people .cycle-pager {
    text-align: center;
    width: auto;
    margin: 0 auto;
    z-index: 9;
}
#people section#our-people .cycle-pager span {
    font-family: arial;
    font-size: 40px;
    width: 16px;
    height: 16px;
    margin-right: 20px;
    display: inline-block;
    color: #dedede;
    cursor: pointer;
}
#people section#our-people .cycle-pager span.cycle-pager-active {
    color: #074575
}
@media (max-width: 1149px) {
    #people section#our-people {
        padding: 180px 0;
   }
   #people section#our-people h2 {
       font-size: 38px;
       margin-bottom: 0px;
  }
  #people section#our-people hr {
    margin: 20px auto 35px auto;
}
  #people section#our-people p {
       font-size: 22px;
       margin-bottom: 0
  }
}
@media (max-width: 767px) {
    #people section#our-people {
        padding: 45px 0;
        background-image: none;
        background-color: #074575;
        height: auto
   }
   #people section#our-people h2 {
        color: #fff;
       font-size: 36px;
       margin-bottom: 0px;
  }
    #people section#our-people hr {
    margin: 20px auto 35px auto;
}
  #people section#our-people p {
        color: #fff;
       font-size: 20px;
       margin-bottom: 0
  }
}
#people section#team {
    height: auto;
    background: url(../img/metro_opac.jpg) no-repeat center;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding: 80px 0
}
#people section#team .columns{
    text-align: center;
}
#people section#team h2 {
    font-size: 48px;
    font-weight: 300;
    text-align: center;
    margin-bottom: 80px
}
#people section#team h3 {
    font-size: 32px;
    font-weight: 300;
    margin: 20px 0 10px;
}
#people section#team h4 {
    font-size: 24px;
    color: #444;
}
#people section#team p {
    width: 100%;
    text-align: left;
    font-size: 20px;
    color: #fff;
    background: rgba(7,69,117,.8);
    padding: 10px;
}
#people section#team img{
    opacity: 0.7;
}
#people section#team img:hover,
#people section#team img:active {
    opacity: 1;
}
#people section#team .headshots{
    padding-bottom: 50px;
}
#people section#team .active-bio {
    opacity: 1 !important;
}
@media (max-width: 1149px) {
    #people section#our-people {
        padding: 180px 0;
   }
   #people section#our-people h2 {
       font-size: 38px;
       margin-bottom: 0px;
  }
  #people section#our-people p {
       font-size: 22px;
       margin-bottom: 0
  }
}
@media (max-width: 767px) {
    #people section#our-people {
        padding: 45px 0;
        background-image: none;
        background-color: #074575;
        height: auto
   }
   #people section#our-people h2 {
        color: #fff;
       font-size: 36px;
       margin-bottom: 0px;
  }
  #people section#our-people p {
        color: #fff;
       font-size: 20px;
       margin-bottom: 0
  }
}
#careers #selection {
    height: 100%;
    color: #074575;
    background: url(../img/office1_opac.jpg) no-repeat center;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding: 120px 0
}
#careers #selection section#overview h2 {
    font-size: 48px;
    font-weight: 300;
    text-align: center;
    margin-bottom: 10px
}
#careers #selection section#overview h3 {
    font-size: 32px;
    font-weight: 300;
    text-align: center;
    margin-bottom: 30px
}
#careers #selection section#overview  hr {
    width: 85px;
    margin: 30px auto 45px auto;
    border-color: #73acd9;
}
#careers #selection section#overview  p {
    font-size: 26px;
    font-weight: 200;
    text-align: center;
}
#careers #selection #careers-selection {
    width: 100%;
    max-width: 1100px;
    position: absolute;
    text-align: center;
    bottom: 0;
}
#careers #selection #careers-selection div {
    width: 50%;
    float: left;
}
#careers #selection #careers-selection div img {
    opacity: 0.5;
    width: 400px;
    height: 250px;
}
#careers #selection #careers-selection div img:hover {
    opacity: 1;
}
@media (max-width: 767px) {
   #careers #selection section#overview h2 {
       font-size: 36px;
       margin-bottom: 0px
  }
  #careers #selection section#overview h3 {
       font-size: 26px;
       margin-bottom: 15px;
  }
  #careers #selection section#overview hr {
    margin: 20px auto 35px auto;
}
 #careers #selection section#overview  p {
       font-size: 20px;
  }
}
#careers #grads-section,
#careers #pros-section {
    height:100%; 
    display:none; 
    position:inherit;
}
#careers #grads-section .blurb, 
#careers #pros-section .blurb {
    background: rgba(184, 214, 236, 0.8);
    height: auto;
    width: 100%;
    text-align: right;
    position: inherit;
    padding: 100px 0;
}
#careers #grads-section .blurb p, 
#careers #pros-section .blurb p {
    font-size: 20px;
    margin: 0;
}
#careers #grads-section .blurb h2, 
#careers #pros-section .blurb h2 {
    font-size: 48px;
    font-weight: 300
}
#careers #grads-section .blurb img, 
#careers #pros-section .blurb img {
    width: 100%;
    margin: 60px 20px; 
    /* find a way to horizontally align this */
}
#careers #grads-section section#img-1 {
    background: url(../img/block.jpg);
    background-attachment: fixed; 
    height: 70%;
    width: 100%;
    position: relative;
}
#careers #grads-section section#img-2 {
    background: url(../img/block.jpg);
    background-attachment: fixed; 
    height: 70%;
    width: 100%;
    position: relative;
}
#connect #content {
    top: 0
}
#connect section#contact {
    height: auto;
    text-align: center;
    color: 074575;
    background: #73acd9;
    padding-top: 120px
}
#connect section#contact h2 {
    font-size: 38px;
    font-weight: 300;
    width: 200px;
    margin: 0 auto 25px
}
#connect section#contact p {
    font-size: 24px;
    color: #fff;
}
#connect section#contact #spacers {
    width: 100%;
    border-left: 1px solid #CCC;
    border-right: 1px solid #CCC;
    margin: 0 -20px;
    height: 90%;
    position: absolute;
    top: -5%;
}
#connect #map {
    width: 100%;
    height: 70%;
    min-height: 400px; 
    position: relative;
}
@media (max-width: 1149px) {
   #connect section#contact h2 {
       font-size: 32px;
  }
  #connect section#contact p {
       font-size: 20px;
  }
}
@media (max-width: 767px) {
   #connect section#contact h2 {
       font-size: 32px;
       width: 100%;
  }
  #connect section#contact p {
       font-size: 20px;
  }
}
.brand-heading {
    font-size: 36px;
    line-height: 1.5;
    float: left;
}
.intro-text {
    font-size: 18px;
}
.btn {
    text-transform: uppercase;
    font-family: "Roboto";
    font-weight: 100;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}
.btn-default {
    border: 1px solid #28c3ab;
    color: #28c3ab;
    background-color: transparent;
}
.btn-default:hover, .btn-default:focus {
    border: 1px solid #28c3ab;
    outline: 0;
    color: #000;
    background-color: #28c3ab;
}
.btn-huge {
    padding: 25px;
    font-size: 26px;
}
.banner-social-buttons {
    margin-top: 0;
}
@media(max-width: 1199px) {
    ul.banner-social-buttons {
        margin-top: 15px;
   }
}
@media(max-width: 767px) {
    ul.banner-social-buttons>li {
        display: block;
        margin-bottom: 20px;
        padding: 0;
   }
   ul.banner-social-buttons>li:last-child {
       margin-bottom: 0;
  }
}
::-moz-selection {
    text-shadow: none;
    background: #fcfcfc;
    background: rgba(255, 255, 255, .2);
}
::selection {
    text-shadow: none;
    background: #fcfcfc;
    background: rgba(255, 255, 255, .2);
}
img::selection {
    background: 0 0;
}
img::-moz-selection {
    background: 0 0;
}