{% extends 'base.html' %}

{% block title %}BluestoneLogic{% endblock title %}

{% block main %}
            <section id="contact" class="content-section">
                <div class="row">
                    <div class="col-lg-4">
                        <h1>Shoot us a Message</h1>
                        <p><a href="mailto:info@bluestonelogic.com">info@bluestonelogic.com</a></p>
                    </div>
                    <div class="col-lg-4">
                        <div id="spacers"></div>
                            <h1>Stop in and<br>say 'Hey'</h1>
                            <p><a href="https://www.google.com/maps/place/1313+Dolley+Madison+Blvd/@38.9395215,-77.17874,17z/data=!3m1!4b1!4m2!3m1!1s0x89b7b5593c95f46f:0x1dc15b2f2dd7a1c0?hl=en">1313 Dolley Madison Blvd<br>McLean, VA 22101</a></p>
                    </div>
                    <div class="col-lg-4">
                        <h1>Drop us<br>a Line</h1>
                        <p>202-670-3188</p>
                    </div>
                </div>
            </section>
            <section>
                <div id="map"></div>
            </section>
            {% endblock main %}